@import url("global.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

body{
    margin: 0;
    height: 100vh;
    background: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header{
    position: relative;
    background: var(--background-header);
    padding: 60px 0;
}

.title-index-html{
    text-align: center;
    font-size: 3.0rem;
    font-family: 'Playfair Display', serif;
    color: gold;
    margin: 25px 0 0 0;
}

.usuario{
    position: absolute;
    top: 5px;
    right: 1%;
}

.config{
    position: absolute;
    top: 5px;
    left: 1%;
}

.container{
    position: absolute;
    left: 50px;
    top: 250px;
}

.belafera{
    width: 200px;  /* Ajuste o tamanho que quiser */
}

.star-group{
   display: flex;
   align-items: flex-start;
   margin-left: 300px;
   padding-top: 50px;
   gap: 5px;
   
   
  

}

.numero-notas{
    position: relative;
    bottom: 6px;
    font-family: 'Playfair Display', serif;
    color: gold;
    margin: 0;
    font-size: 2rem;
}

.descricao-belafera{
    position: relative;
    color: white;
    font-weight: bold;
    line-height: 1;
    margin-left: 50px;
    
}

.sinopse-belafera{
    position: relative;
    margin-left: 300px;
    color: white;
    font-family: 'Inknut Antiqua';
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    max-width: 700px;
}