@import url("global.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

body{
    margin: 0;
    height: 100vh;
    background: var(--background-color);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

header{
    background: var(--background-header);
    padding: 6px 0;
}
/* ========== MONITORES 1280x720 ========== */
.title-index-html{
    text-align: center;
    font-size: 3.0rem;
    font-family: 'Playfair Display', serif;
    color: gold;
    margin: 5px 0;
}

.usuario{
    position: absolute;
    top: 5px;
    right: 1%;
    width: auto;
}

.titulo{
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    color: white;
    margin: 15px 0 10px 0;
}

.container {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 40px 0 40px;
    flex-wrap: nowrap;
    margin-bottom: 10px; 
}

.belafera, .harrypotter, .detetive, .chamado{
    width: 145px;
    height: auto;
}

.descriçao-container{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 40px 15px 40px;
    font-family: 'Great Vibes', cursive;
    color: white;
    flex-wrap: nowrap;
}

.descriçao-container > div {
    max-width: 145px;
    font-size: 0.85rem; 
}

h2{
    color: gold;
    font-size: 0.95rem;
    margin-bottom: 5px;
}

/* ========== MONITORES FULL HD 1920x1080 ========== */
@media (min-width: 1920px) {
    .title-index-html{
        font-size: 2.8rem;
        margin: 15px 0;
    }
    
    .titulo{
        font-size: 2.5rem;
        margin: 30px 0 15px 0;
    }
    
    .container {
        gap: 150px;
        padding: 40px 100px 0 100px;
        margin-bottom: 10px; 
    }
    
    .belafera, .harrypotter, .detetive, .chamado{
        width: 220px;
    }
    
    .descriçao-container{
        gap: 150px;
        padding: 30px 100px 30px 100px;
    }
    
    .descriçao-container > div {
        max-width: 220px;
        font-size: 1rem;
    }
    
    h2{
        font-size: 1.2rem;
    }
}
