@import url(global.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body{
     margin: 0;
     height: 100vh;
     background: var(--background-color);
     background-repeat: no-repeat;
     background-size: cover;
}
header{
     background: var(--background-header);
    
.title-index-html{
     text-align: center;
     font-size: 3rem;
     font-family: 'Playfair Display', serif;
     color: gold;
     position: relative;
     top: -60px;
}

}

.usuario{
     transform: translate(1650px, 5px);

}

.titulo{
     text-align: center;
     font-size: 3rem;
     font-family: 'Playfair Display', serif;
     color: white;
     transform: translate(0, 100px);
}
  .container {
  display: flex;
  gap: 150px;
  justify-content: flex-start; /* começa do lado esquerdo */
  align-items: flex-start;     /* começa do topo */
  height: 400px;
  padding-top: 200px;          /* empurra pra baixo */
  padding-left: 200px;          /* empurra pra direita */
}


.belafera, .harrypotter, .detetive, .chamado{
     width: 230px;
     height: auto;
}



.descriçao-container{
     display: flex;
     gap: 70px;
     justify-content: flex-start; /* começa do lado esquerdo */
     align-items: flex-start;     /* começa do topo */
     padding-top: 150px;
     padding-left: 200px;
     font-family: 'Great Vibes', cursive;
     color: white;
}

h2{
     color: gold;
}

body{ overflow-x:hidden; }
    